{% extends "base.html" %}

{% block css %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
    <div id="welcome">
        <h4 class="welcome-header">Welcome to BuddiesChat!</h4>
        <div class="welcome-text">
            <p>Join us for a nice chat and tea.</p>
            <p>We promise a good time and great laughs.</p>
        </div>

        <p>Type your username</p>
        <input id="user_name" type="text" placeholder="Your username">
        <button id="join_button">Join</button>
    </div>

    <div id="chat">
        <ul id="messages"></ul>
        <input id="message_box" type="text" placeholder="Type your message">
        <button id="send_a_message">Send</button>
    </div>
{% endblock %}

{% block js %} 
<script src="{{ url_for('static', filename='js/chat.js') }}"></script>
{% endblock %}